.my_top_padding {
    padding-top: 16px;
}

.my_padding_right {
    padding-right: 32px;
}

.my_icon {
    width: 32px;
    padding-right: 8px;
}

.my_center {
    display: flex;
    justify-content: center;
}

.my_right {
    display: flex;
    justify-content: right;
}

.my_span {
    width: 84px;
}

.my_loading {
    width: 64px;
    height: 64px;
}